*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:Arial,sans-serif;

}

body{

    background:#f4f6f9;

}

.container{

    width:600px;

    margin:50px auto;

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.1);

}

.page-header{

    display:flex;
    align-items:center;
    gap: 15%;
    margin-bottom:25px;

}

.back-link{

    text-decoration:none;
    color:#2563eb;
    font-size:34px;
    font-weight:500;
    line-height:1;
    transition:.2s;

}

.back-link:hover{

    color:#1d4ed8;
    transform:translateX(-3px);

}

.page-header h1{

    margin:0;

}

ul{

    list-style:none;

}

li{

    display:flex;

    justify-content:space-between;

    padding:15px;

    margin:10px 0;

    background:#eef3ff;

    border-radius:8px;

    font-size:18px;

}

